version: "3.9"

services:
  db:
    image: mongo:7
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: user_blog_portal
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

volumes:
  mongodata:
